#JWT config:
JWT_SECRET_KEY=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN = 

#Postgre Database (Local)
# POSTGRES_HOST=db
# POSTGRES_PORT=5432
# POSTGRES_USER=root
# POSTGRES_PASSWORD=root
# POSTGRES_DB=elearning_database

#Postgre Database Azure
POSTGRES_HOST=elearning-database.postgres.database.azure.com
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=elearning_database
POSTGRES_SSL= true

#For Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=
EMAIL_PASSWORD=

#For cloud front 
#Cloud Front 
CLOUDFRONT_KEY_PAIR_ID = #Public key in cloud front
CLOUDFRONT_DOMAIN = 
CLOUDFRONT_PRIVATE_KEY = 
# Access key and secret key of IAM user
AWS_ACCESS_KEY = 
AWS_SECRET_KEY = 
AWS_BUCKET_NAME = 'elearning-project-chp'
AWS_REGION = 'ap-southeast-1'